<div class="main-header">
  <div class="chat-room">
    <a> <%= @room.name %> </a>
  </div>
  <div class="chat-quit">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<div class="main-form">
  <%= form_with model: [@room, @message],html: {class: "text-form"}, local: true do |f| %>
    <%= f.text_field :content, class: 'text-input', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <% f.file_field :image, class: 'hidden' %>
    </label>
    <%= f.submit '送信', class: 'submit-btn' %>
  <% end %>
</div>